.card-body {
    padding: 30px;
    min-height: 165px;
    position: relative;
}

.red {
    color: red;
}

.black {
    color: black;
}

.card-head {
    visibility: visible;
    transition: visibility 0s linear 0.25s;
}

.card-head.hide {    
    transition: visibility 0s linear 0.25s;
    visibility: hidden;
}

.card {
    margin: 20px;
    transform: rotateY(0deg);
    transition: transform 0.5s linear 0s;
}

.card.hide {
    transform: rotateY(180deg);
    transition: transform 0.5s linear 0s;
}

.cardtopnum {
    position: absolute;
    top: 5px;
    left: 10px;
}

.frontgraphic {
    position: absolute;
    top: 25%;
    left: 29%;
    font-size: 70px;
}

.card.hide .backgraphic {
    width: 90%;
    height: 90%;
    visibility: inherit;
    position: absolute;
    top: 5%;
    left: 5%;
    transition: visibility 0s linear 0.25s;
}

.card .backgraphic {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    visibility: hidden;
    transition: visibility 0s linear 0.25s;
}

.cardbotnum {
    bottom: 5px;
    right: 10px;
    position: absolute;
    transform: rotate(180deg);
}

#start {
    margin-top: -5px;
}

#scoretext,
#score,
#highscore,
#highscoretext,
#difftext {
    display: inline;
}

#diffselector {
    width: 105px;
    display: inline;
    margin-left: 10px;
}